*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.hide {
    display: none !important;
}

p{
    color: #727272;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;900&display=swap');

/* header  */

.header {
    display: flex;
    justify-content: space-around;
    background-color:#FFF4E7;
    /* height: 120px; */
    
}
.logo{
    padding: 30px 0px;
    font-size: 28px;
    font-family: 'Roboto', sans-serif;
    
    
}
.logo h3{
    font-weight: 900;
}

.menu-area ul{
    display: flex;
    justify-content: space-around;
}

.menu-area ul li {
    list-style: none;
    line-height: 120px;
    padding: 0px 20px !important;
    
}
.menu-area ul li a{
    text-decoration: none;
    font-size: 16px;
    text-transform: capitalize;
    color: black;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

/* banner-part  */
main{
    background-color:#FFF4E7;
    padding-bottom: 60px;
    
}
.banner{
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner-data{
    text-align: center;
}

.banner-data p {
   font-size: 19px;
   padding-top: 20px;
   padding-top: 30px;
   line-height: 30px;
   font-weight: 400;
}
.banner-data h3 {
   font-size: 60px;
   font-weight: 900;
}

.padding-top-20{
    padding-top: 130px;
}

.button{
    padding: 14px 20px;
    font-size: 14px;
    background-color: #FF900E;
    color: aliceblue;
    border: none;
    border-radius: 5px;
    margin: 30px 0px;
    font-weight: 900;
}


/* features-area  */

.features-area{
    display: flex;
    margin: 100px;    
}


.features-info{
    display: flex;
    align-items: center;
}

.features-data{
    padding-left: 4%;
    
}
.features-data h3 {
    font-size: 40px;
    color: #727272;
    font-weight: 400;
}


.features-data p{
    padding-top: 30px;
    width: 70%;
    font-size: 18px;
    font-weight: 400!important;
    line-height: 30px;
}

.color-two{
    color: #FF900E!important;
}
.color-one{
    color: #0e0e0e!important;
    font-weight: 900!important;
}

/* feature-area-two  */

.feature-area-two{
    display: flex;
}

.feature-data-two{
    padding-left: 10%;
    width: 50%;
}
.feature-data-two-img {
    margin-right: 10%;
    width: 50%;
}

.feature-data-two-img img{
    width: 90%;
    height: 90%;
}
.service-data{
 padding-top: 50px;
}
.service-data h2{
    border-left: 5px solid #FF900E;
    padding-left: 20px;
    font-size: 40px;
    font-weight: 900;
    
}
.service-data p{
    margin-top: 20px;
    font-size: 19px;
    width: 82%;
    padding: 20px 0px;
    margin-bottom: 20px;
    line-height: 30px;
}

.feature-service {
    padding: 25px;
    width: 80%;
    background-color: #FFFFFF;
    box-shadow: 0px 0px 13px rgba(209, 202, 202, 0.356);
    margin-bottom: 40px;
}
.feature-service h4{
    font-size: 20px;
    margin-bottom: 15px;
    font-weight: 900;

}
.feature-service p{
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
}

.position-button{
    padding: 16px 101px;
    font-size: 40px;
    background-color: #FF900E;
    color: #FFF4E7;
    border: none;
    position: relative;
    bottom: 144px;
    right: 100px;
    border-radius: 5px;
    font-weight: 900;
}

.position-button-span {
    font-size: 18px;
    font-weight: 400;
}

.facts-data{
    display: flex;
    justify-content: space-evenly;
}


/* our-facts  */

.our-facts{
    border: 2px solid #FF900E;
    text-align: center;
    padding: 30px;
    border-radius: 5px;
    width: 250px;
    transition: all linear .3s;
}


.our-facts:hover{
    background-color: #FF900E;
    color: #ffffff;
}


.our-facts h4 {
    font-size: 40px;
}


.our-facts h5 {
    font-size: 20px;
    color: #727272;
    text-transform: capitalize;
}

.facts{
    margin-bottom: 90px;
    margin-left: 190px;

}

.facts p{
    width: 37%;
    font-size: 18px;
    padding: 20px 0px;
    font-weight: 400;
}

.facts h2{
 font-size: 40px;
 font-weight: 900;
}

/* sponspors  */

.sponspors{
    margin-top: 150px;
}

.sponspors h3 {
    font-size:45px;
    margin-top: 15px;
    font-weight: 900;
}

.sponspors p{
    font-size:16px;
    padding: 35px 0px;
    font-weight: 400;
    
}

.sponspors_data{
    text-align: center;
}

.sponspors-icon {
    display: flex;
    justify-content: space-around;
    margin-bottom: 90px;
}

/* footer  */

footer{
 text-align: center;
 display: flex;
 justify-content: center;
 margin-bottom: 70px;
 
}

footer p {
    background-color:#FFF4E7;
    width: 80%;
    padding: 30px 0px;
    font-size: 19px;
    border-radius: 5px;
    font-weight: 400;
}



.partner-area{
    width: 100%;
    height:250px;
    background-color: #FF900E;
    color: #FFF4E7;
    text-transform: capitalize;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 60px;
    font-weight: 900;
    margin-top: 10%;
    
}


@media screen and (max-width:576px) {

    /* header-area  */

    .header {
        display: flex;
        flex-direction: column;
        
    }

    .logo{
        text-align: center;
    }
    .menu-area ul li {
        padding: 0px 20px !important;
        line-height: 50px;
    }


    .menu-area ul {
        display: flex;
        flex-direction: column;    
    }

    /* banner-area  */

    .banner-img img {
        width: 100%;
    }

    .banner-data h3 {
        font-size: 30px;
        font-weight: 900;
    }

    .banner-data p {
        font-size: 15px;
        padding: 10px 20px;
    }

    /* features  */

    /* .features-img img{
        width: 100%;
    } */

    .features-area {
        display: flex;
        flex-direction: column;
    }

    .features-area {
        margin:0px;
    }

    .features-data p {
        width: 90%;
    }

    .features-img img{
      width: 90%;
      margin-bottom: 20px;
      text-align: center;
    }


    .features-img{
      text-align: center;
    }

    .feature-area-two {
        display: flex;
        flex-direction: column;
    }


    .feature-data-two {
        padding-left: 10%;
        width: 100%;
    }

    .service-data h2 {
        font-size: 32px;
    }

    .feature-service {
        padding: 25px;
        width: 93%;
        margin-bottom: 40px;
    }

    .feature-service {
        width: 90%;
    }

    .feature-data-two-img{
        width: 100%;
        text-align: center;
    
    }
    .feature-data-two-img img{
        width: 90%;
    
    }

    .position-button {
        padding: 16px 101px;
        font-size: 40px;
        background-color: #FF900E;
        color: #FFF4E7;
        border: none;
        position: relative;
        bottom: -11px;
        right: 4px;
        border-radius: 5px;
        font-weight: 900;
    }


    .facts-data {
        flex-direction: column;
    }


    .service-data p {
        font-size: 17px;
        width: 91%;
    }


    /* our-facts  */
    .facts-data{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .our-facts {

        padding: 30px;
        border-radius: 5px;
        width: 90%;
        margin-bottom: 30px;
    }


    .facts {
        margin-bottom: 30px;
        margin-left: 20px;
    }

    .facts h2{
        margin-top: 40px;
    }

    .facts p {
        width: 95%;
        font-size: 16px;
    }


    .sponspors-icon {
        flex-direction: column;
        align-items: center;
    }

    .sponspors-icon img{
        width: 40%;
        margin-bottom: 30px;
    }

    /* partner  */

    .partner-area{

        font-size: 30px;
        
    }
    

    /* footer  */

    footer p{
        width: 100%;
        font-size: 15px;
        margin-top:20px;
        padding: 15px;
    }


}


@media screen and (min-width:577px) {
    .header {
        height: 120px;
        
    }

    .features-img{
        display: grid;
        grid-template-columns: repeat(2 , 1fr);
        gap: 20px;
        padding-left: 10%;
    }
    
}